In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import folium
from sklearn.preprocessing import LabelEncoder
from geopy.geocoders import Yandex
from geopy.distance import vincenty
import time
from tqdm import tqdm

In [2]:
train = pd.read_csv('data/train_set.csv')
test = pd.read_csv('data/test_set.csv')

train.rename(columns={ 'pos_adress_lat' : 'pos_address_lat', 
                       'pos_adress_lon' : 'pos_address_lon'}, inplace=True)

D:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1265470 entries, 0 to 1265469
Data columns (total 14 columns):
amount              1265470 non-null float64
atm_address         277497 non-null object
atm_address_lat     194058 non-null float64
atm_address_lon     194058 non-null float64
city                1265462 non-null object
country             1265470 non-null object
currency            1265469 non-null float64
customer_id         1265470 non-null object
mcc                 1265470 non-null object
pos_address         950360 non-null object
pos_address_lat     972913 non-null float64
pos_address_lon     972913 non-null float64
terminal_id         1265454 non-null object
transaction_date    1265469 non-null object
dtypes: float64(6), object(8)
memory usage: 135.2+ MB

In [21]:
test[test['terminal_id'].isnull() == True]['atm_address'].unique()[0]

'CHANGE BOOTH(CHAWENG)\\RAT THANI   T\\84320     807THA'