In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import lightgbm as lgb
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [37]:
train = pd.read_csv('data/train_set.csv')
test = pd.read_csv('data/test_set.csv')

train.rename(columns={ 'pos_adress_lat' : 'pos_address_lat', 
                       'pos_adress_lon' : 'pos_address_lon'}, inplace=True)

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
train[:2]

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon
0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177
1,2.775633,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177

In [34]:
# Замена NaN на 0
train.fillna(value=0, inplace=True)

In [35]:
train[:2]

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon
0,2.884034,0,0.0,0.0,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,0,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177
1,2.775633,0,0.0,0.0,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,0,59.844072,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177

In [43]:
X = train[['amount', 'atm_address_lat', 'atm_address_lon']]

In [44]:
y = train['home_add_lat']

In [45]:
X_train, X_valid, y_train, y_valid = train_test_split(train1, y, test_size=0.2, random_state=42, stratify=y)

In [46]:
data_train_lgb = lgb.Dataset(X_train, label=y_train)
data_valid_lgb = lgb.Dataset(X_valid, label=y_valid)

In [47]:
param = {'num_trees': 100000,
         'application':'regression',
         'learning_rate': 0.01, 
         'max_depth': 10,
         'lambda_l2': 1e-3}

In [48]:
model = lgb.train(parameters,
                       data_train_lgb,
                       valid_sets=data_valid_lgb,
                       num_boost_round=5000,
                       early_stopping_rounds=100)

[1]	valid_0's auc: 0.575087
Training until validation scores don't improve for 100 rounds.
[2]	valid_0's auc: 0.575087
[3]	valid_0's auc: 0.612297
[4]	valid_0's auc: 0.608741
[5]	valid_0's auc: 0.608741
[6]	valid_0's auc: 0.608741
[7]	valid_0's auc: 0.608741
[8]	valid_0's auc: 0.608741
[9]	valid_0's auc: 0.604748
[10]	valid_0's auc: 0.604748
[11]	valid_0's auc: 0.530962
[12]	valid_0's auc: 0.530962
[13]	valid_0's auc: 0.530962
[14]	valid_0's auc: 0.596886
[15]	valid_0's auc: 0.596886
[16]	valid_0's auc: 0.596886
[17]	valid_0's auc: 0.596886
[18]	valid_0's auc: 0.596886
[19]	valid_0's auc: 0.596886
[20]	valid_0's auc: 0.596886
[21]	valid_0's auc: 0.599598
[22]	valid_0's auc: 0.599598
[23]	valid_0's auc: 0.599598
[24]	valid_0's auc: 0.599598
[25]	valid_0's auc: 0.599598
[26]	valid_0's auc: 0.599598
[27]	valid_0's auc: 0.599598
[28]	valid_0's auc: 0.599598
[29]	valid_0's auc: 0.599598
[30]	valid_0's auc: 0.599598
[31]	valid_0's auc: 0.599598
[32]	valid_0's auc: 0.599598
[33]	valid_0's auc: 0.599766
[34]	valid_0's auc: 0.60055
[35]	valid_0's auc: 0.60108
[36]	valid_0's auc: 0.60108
[37]	valid_0's auc: 0.60108
[38]	valid_0's auc: 0.60108
[39]	valid_0's auc: 0.60108
[40]	valid_0's auc: 0.60108
[41]	valid_0's auc: 0.600065
[42]	valid_0's auc: 0.600992
[43]	valid_0's auc: 0.600992
[44]	valid_0's auc: 0.600996
[45]	valid_0's auc: 0.601004
[46]	valid_0's auc: 0.601004
[47]	valid_0's auc: 0.601004
[48]	valid_0's auc: 0.601004
[49]	valid_0's auc: 0.601004
[50]	valid_0's auc: 0.601004
[51]	valid_0's auc: 0.600992
[52]	valid_0's auc: 0.600996
[53]	valid_0's auc: 0.601004
[54]	valid_0's auc: 0.601004
[55]	valid_0's auc: 0.601004
[56]	valid_0's auc: 0.601004
[57]	valid_0's auc: 0.600992
[58]	valid_0's auc: 0.600996
[59]	valid_0's auc: 0.601004
[60]	valid_0's auc: 0.601004
[61]	valid_0's auc: 0.601004
[62]	valid_0's auc: 0.601004
[63]	valid_0's auc: 0.601004
[64]	valid_0's auc: 0.601004
[65]	valid_0's auc: 0.601004
[66]	valid_0's auc: 0.601004
[67]	valid_0's auc: 0.601004
[68]	valid_0's auc: 0.601004
[69]	valid_0's auc: 0.601004
[70]	valid_0's auc: 0.601004
[71]	valid_0's auc: 0.601004
[72]	valid_0's auc: 0.601004
[73]	valid_0's auc: 0.601004
[74]	valid_0's auc: 0.601004
[75]	valid_0's auc: 0.601004
[76]	valid_0's auc: 0.601004
[77]	valid_0's auc: 0.601004
[78]	valid_0's auc: 0.601004
[79]	valid_0's auc: 0.601004
[80]	valid_0's auc: 0.601004
[81]	valid_0's auc: 0.601004
[82]	valid_0's auc: 0.601004
[83]	valid_0's auc: 0.601004
[84]	valid_0's auc: 0.601004
[85]	valid_0's auc: 0.601004
[86]	valid_0's auc: 0.601004
[87]	valid_0's auc: 0.601004
[88]	valid_0's auc: 0.601004
[89]	valid_0's auc: 0.601004
[90]	valid_0's auc: 0.601004
[91]	valid_0's auc: 0.597844
[92]	valid_0's auc: 0.597844
[93]	valid_0's auc: 0.597844
[94]	valid_0's auc: 0.597844
[95]	valid_0's auc: 0.597844
[96]	valid_0's auc: 0.597844
[97]	valid_0's auc: 0.597844
[98]	valid_0's auc: 0.597844
[99]	valid_0's auc: 0.597844
[100]	valid_0's auc: 0.597844
[101]	valid_0's auc: 0.597844
[102]	valid_0's auc: 0.597844
[103]	valid_0's auc: 0.597844
Early stopping, best iteration is:
[3]	valid_0's auc: 0.612297

In [ ]:
bst = lgb.train(param, X_train_lgb, early_stopping_rounds=200)

In [4]:
X = train.drop(['home_add_lat', 'home_add_lon','work_add_lat', 'work_add_lon'], axis=1)
Y_home_lat = train['home_add_lat']
Y_home_lon = train['home_add_lon']
Y_work_lat = train['work_add_lat']
Y_work_lon = train['work_add_lon']

In [6]:
#X_train, X_valid, Y_train, Y_valid = train_test_split(X, Y_home_lat, test_size=0.2, random_state=42, stratify=Y_home_lat)
X_train, X_valid, Y_train, Y_valid = train_test_split(X, Y_home_lat, test_size=0.2, random_state=42)

In [8]:
categorical_features = [c for c, col in enumerate(X.columns) if 'cat' in col]

In [10]:
X.columns

Index(['amount', 'atm_address', 'atm_address_lat', 'atm_address_lon', 'city',
       'country', 'currency', 'customer_id', 'mcc', 'pos_address',
       'pos_address_lat', 'pos_address_lon', 'terminal_id',
       'transaction_date'],
      dtype='object')

In [9]:
categorical_features

[]

In [13]:
data_train_lgb = lgb.Dataset(X_train, label=Y_train)
data_valid_lgb = lgb.Dataset(X_valid, label=Y_valid)

In [14]:
parameters = {
    'application': 'binary',
    'objective': 'binary',
    'metric': 'auc',
    'is_unbalance': 'true',
    'boosting': 'gbdt',
    'num_leaves': 31,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.5,
    'bagging_freq': 20,
    'learning_rate': 0.05,
    'verbose': 0
}

In [ ]:
model = lgb.train(parameters,
                       data_train_lgb,
                       valid_sets=data_valid_lgb,
                       num_boost_round=5000,
                       early_stopping_rounds=100)

In [9]:
# Категорийные признаки
categorical_columns = train.columns[train.dtypes == 'object']

In [10]:
#categorical_columns = categorical_columns.drop('transaction_date')

In [11]:
categorical_columns

Index(['atm_address', 'city', 'country', 'customer_id', 'pos_address',
       'terminal_id', 'transaction_date'],
      dtype='object')

In [12]:
label_encoder = LabelEncoder()

In [15]:
mapped_country = pd.Series(label_encoder.fit_transform(train['country']))

In [21]:
len(train['country'].unique())

127

In [18]:
print(dict(enumerate(label_encoder.classes_)))

{0: ' ZZ"', 1: '-bar Campus"', 2: 'AE ', 3: 'ALB', 4: 'AM ', 5: 'ARE', 6: 'ARM', 7: 'AT ', 8: 'AU ', 9: 'AUS', 10: 'AUT', 11: 'AZ ', 12: 'AZE', 13: 'BEL', 14: 'BG ', 15: 'BGR', 16: 'BIH', 17: 'BLR', 18: 'BY ', 19: 'CAN', 20: 'CH ', 21: 'CHE', 22: 'CHN', 23: 'CN ', 24: 'CUB', 25: 'CY ', 26: 'CYM', 27: 'CYP', 28: 'CZ ', 29: 'CZE', 30: 'DE ', 31: 'DEU', 32: 'DNK', 33: 'DOM', 34: 'EGY', 35: 'ES ', 36: 'ESP', 37: 'EST', 38: 'FI ', 39: 'FIN', 40: 'FR ', 41: 'FRA', 42: 'GB ', 43: 'GBR', 44: 'GE ', 45: 'GEO', 46: 'GR ', 47: 'GRC', 48: 'HK ', 49: 'HKG', 50: 'HR ', 51: 'HRV', 52: 'HU ', 53: 'HUN', 54: 'ID ', 55: 'IDN', 56: 'IL ', 57: 'IN ', 58: 'IND', 59: 'IRL', 60: 'IS ', 61: 'ISL', 62: 'ISR', 63: 'IT ', 64: 'ITA', 65: 'JAM', 66: 'JOR', 67: 'JPN', 68: 'KAZ', 69: 'KEN', 70: 'KG ', 71: 'KGZ', 72: 'KHM', 73: 'KZ ', 74: 'LKA', 75: 'LT ', 76: 'LTU', 77: 'LV ', 78: 'LVA', 79: 'MAR', 80: 'MD ', 81: 'MDA', 82: 'ME ', 83: 'MEX', 84: 'MKD', 85: 'MLT', 86: 'MNE', 87: 'MNG', 88: 'MY ', 89: 'MYS', 90: 'NL ', 91: 'NLD', 92: 'NOR', 93: 'NZL', 94: 'PER', 95: 'PHL', 96: 'PL ', 97: 'POL', 98: 'PRT', 99: 'PT ', 100: 'QA ', 101: 'ROM', 102: 'RU ', 103: 'RUS', 104: 'SAU', 105: 'SG ', 106: 'SGP', 107: 'SRB', 108: 'SVK', 109: 'SVN', 110: 'SWE', 111: 'TH ', 112: 'THA', 113: 'TJK', 114: 'TN ', 115: 'TR ', 116: 'TUN', 117: 'TUR', 118: 'TZ ', 119: 'UA ', 120: 'UKR', 121: 'US ', 122: 'USA', 123: 'UZ ', 124: 'UZB', 125: 'VNM', 126: 'ZAF'}

In [28]:
mapped_country = mapped_country.reshape(-1, 1) # Needs to be the correct shape

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [24]:
onehot_encoder = OneHotEncoder(sparse=False)

In [29]:
onehot_encoder.fit_transform(mapped_country)

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [ ]:
onehot_encoder.fit(train['country'])

In [ ]:
onehot_encoder.fit_transform(train['atm_address'])

In [ ]:
#onehot_encoder.fit_transform(train[categorical_columns])
onehot_encoder.fit_transform(train['city'])

In [ ]:
encoded_categorical_columns = pd.DataFrame(onehot_encoder.fit_transform(train[categorical_columns]))

In [ ]:
encoded_categorical_columns.head()

In [43]:
train['city'] = train['city'].fillna(value='0')

In [44]:
mapped_city = pd.Series(label_encoder.fit_transform(train['city']))