In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import folium
from sklearn.preprocessing import LabelEncoder
from geopy.geocoders import Yandex
from geopy.distance import vincenty

In [2]:
train = pd.read_csv('data/train_set.csv')
test = pd.read_csv('data/test_set.csv')

train.rename(columns={ 'pos_adress_lat' : 'pos_address_lat', 
                       'pos_adress_lon' : 'pos_address_lon'}, inplace=True)

D:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train[:2]

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon
0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177
1,2.775633,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177

In [7]:
train1 = train[['atm_address', 'customer_id', 'pos_address', 'transaction_date']]

In [9]:
train1[:2]

  atm_address                       customer_id pos_address transaction_date
0         NaN  0dc0137d280a2a82d2dc89282450ff1b         NaN       2017-07-15
1         NaN  0dc0137d280a2a82d2dc89282450ff1b         NaN       2017-10-27

In [6]:
train1[train1['customer_id'] == '0dc0137d280a2a82d2dc89282450ff1b']

,atm_address,customer_id,pos_address,transaction_date
0,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-15
1,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-27
2,NaN,0dc0137d280a2a82d2dc89282450ff1b,"PR.MARSHALA ZHUKOVA,31St Petersburg190000 7...",2017-10-03
3,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-09-09
4,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-06
5,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-23
6,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-29
7,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-15
8,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-18
9,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-05-13
10,NaN,0dc0137d280a2a82d2dc89282450ff1b,2 PARTIZANA GERMANA STRSANKT-PETERBU190000 ...,2017-10-03
947887,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-03-12
947888,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-07
947889,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-19
947890,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-25
947891,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-17
947892,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-02-03
947893,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-03-03
947894,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-04-06
947895,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-02-27
947896,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-25
947897,"Санкт-Петербург, пр. Стачек, д. 99",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-02-13
959457,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-04-20
965363,"Санкт-Петербург, бул. Новаторов, д. 11",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-03-21
987511,"Санкт-Петербург, пр. Ленинский, д. 100",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-05-19
1005411,"Санкт-Петербург, пр. Маршала Жукова, д. 31, ко...",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-09
1005416,"Санкт-Петербург, пр. Маршала Жукова, д. 31, ко...",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-23
1005422,"Санкт-Петербург, пр. Маршала Жукова, д. 31, ко...",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-05-28
1005424,"Санкт-Петербург, пр. Маршала Жукова, д. 31, ко...",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-02-20
1005425,"Санкт-Петербург, пр. Маршала Жукова, д. 31, ко...",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-20
...,...,...,...,...
1146486,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-13
1146487,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-14
1146488,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-18
1146491,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-06-05
1146492,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-06-24
1146499,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-03-14
1146501,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-25
1146502,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-12-05
1146509,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-04
1146510,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-05
1146511,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-21
1146512,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-09-09
1146514,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-05-05
1146516,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-03
1146523,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-09
1146527,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-22
1146528,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-21
1146529,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-11-01
1146530,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-15
1146531,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-04-22
1146532,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-06-15
1146534,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-06-07
1146541,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-31
1146544,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-09-06
1146546,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-06
1146547,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-05
1146550,"Санкт-Петербург, ул. Партизана Германа, д. 2",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-03-08
1184205,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-02-09
1220661,"Санкт-Петербург, бул. Новаторов, д. 11",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-21
1220735,"Санкт-Петербург, бул. Новаторов, д. 11",0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-09-05

In [11]:
train1

,atm_address,customer_id,pos_address,transaction_date
0,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-15
1,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-10-27
2,NaN,0dc0137d280a2a82d2dc89282450ff1b,"PR.MARSHALA ZHUKOVA,31St Petersburg190000 7...",2017-10-03
3,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-09-09
4,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-06
5,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-23
6,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-29
7,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-07-15
8,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-08-18
9,NaN,0dc0137d280a2a82d2dc89282450ff1b,NaN,2017-05-13
10,NaN,0dc0137d280a2a82d2dc89282450ff1b,2 PARTIZANA GERMANA STRSANKT-PETERBU190000 ...,2017-10-03
11,NaN,0e4c72f1c28452fe3bab0283381b8afd,5 KARLA MARKSA SQNOVOSIBIRSK630000 RUSRUS,2017-06-16
12,NaN,0e4c72f1c28452fe3bab0283381b8afd,17 KRASNYY PR-TNOVOSIBIRSK630000 RUSRUS,2017-07-16
13,NaN,0e4c72f1c28452fe3bab0283381b8afd,11-3 VATUTINA STRNOVOSIBIRSK630000 RUSRUS,2017-05-13
14,NaN,0e4c72f1c28452fe3bab0283381b8afd,"UL.KAMENSKAYA,1ANOVOSIBIRSK630099 RUSRUS",2017-09-27
15,NaN,0e4c72f1c28452fe3bab0283381b8afd,40 KOTOVSKOGO STRNOVOSIBIRSK630108 RUSRUS,2017-05-28
16,NaN,0e4c72f1c28452fe3bab0283381b8afd,29-1 KRASNYY PR-T BLDNOVOSIBIRSK630099 RUSRUS,2017-08-09
17,NaN,0e4c72f1c28452fe3bab0283381b8afd,29 KRASNYY PR-TNOVOSIBIRSK630000 RUSRUS,2017-05-14
18,NaN,0e4c72f1c28452fe3bab0283381b8afd,"ST.M.PLOCSHAD LENINA, V2NOVOSIBIRSK630099 R...",2017-08-09
19,NaN,0e4c72f1c28452fe3bab0283381b8afd,"ST.M.PLOCSHAD LENINA, V2NOVOSIBIRSK630099 R...",2017-07-16
20,NaN,0e4c72f1c28452fe3bab0283381b8afd,"2,TROLLEYNAYANOVOSIBIRSK630108 RUSRUS",2017-07-03
21,NaN,0e4c72f1c28452fe3bab0283381b8afd,5 KARLA MARKSA SQNOVOSIBIRSK630000 RUSRUS,2017-07-18
22,NaN,0e4c72f1c28452fe3bab0283381b8afd,3 KARLA MARKSA SQNOVOSIBIRSK630048 RUSRUS,2017-07-19
23,NaN,0e4c72f1c28452fe3bab0283381b8afd,40 KOTOVSKOGO STRNOVOSIBIRSK630108 RUSRUS,2017-08-11
24,NaN,0e4c72f1c28452fe3bab0283381b8afd,3 KARLA MARKSA SQNOVOSIBIRSK630048 RUSRUS,2017-08-10
25,NaN,0e4c72f1c28452fe3bab0283381b8afd,40 KOTOVSKOGO STRNOVOSIBIRSK630108 RUSRUS,2017-05-13
26,NaN,0e4c72f1c28452fe3bab0283381b8afd,5 KARLA MARKSA SQNOVOSIBIRSK630000 RUSRUS,2017-06-16
27,NaN,0e4c72f1c28452fe3bab0283381b8afd,2 KARLA MARKSA SQ BLDNOVOSIBIRSK630000 RUSRUS,2017-05-12
28,NaN,0e4c72f1c28452fe3bab0283381b8afd,40 KOTOVSKOGO STRNOVOSIBIRSK630108 RUSRUS,2017-07-27
29,NaN,0e4c72f1c28452fe3bab0283381b8afd,UL SHIROKAYA 1NOVOSIBIRSK630108 RUSRUS,2017-05-12
...,...,...,...,...
1224704,"Саратов, ул. Аэропорт, д. 14",2707dff51b510ed623f33f765d6890b3,NaN,2017-05-15
1224705,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-09-14
1224706,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-11-17
1224707,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-04-30
1224708,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-04-02
1224709,"Саратов, ул. Аэропорт, д. 14",2707dff51b510ed623f33f765d6890b3,NaN,2017-05-02
1224710,"Саратов, ул. Аэропорт, д. 14",2707dff51b510ed623f33f765d6890b3,NaN,2017-07-23
1224711,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-09-21
1224712,"Саратов, ул. Аэропорт, д. 14",83040d13131c10d215839fea3ff656ad,NaN,2017-10-26
1224713,"Саратов, ул. Аэропорт, д. 14",9d43a036e12c55bf8a40454c5fd7b522,NaN,2017-06-13
1224714,NaN,90ffc453a1c176755ef9225a77df81a1,NaN,2017-03-08
1224715,NaN,03f934b4b74ba56d97494187b8df2c21,NaN,2017-02-18
1224716,NaN,03f934b4b74ba56d97494187b8df2c21,NaN,2017-02-19
1224717,NaN,03f934b4b74ba56d97494187b8df2c21,NaN,2017-02-18
1224718,NaN,03f934b4b74ba56d97494187b8df2c21,NaN,2017-02-19
1224719,NaN,03f934b4b74ba56d97494187b8df2c21,NaN,2017-02-18
1224720,NaN,7d78780b0c099acae7c9c574f1e9adff,NaN,2017-02-26
1224721,NaN,7d78780b0c099acae7c9c574f1e9adff,NaN,2017-02-23
1224722,NaN,7d78780b0c099acae7c9c574f1e9adff,NaN,2017-02-23
1224723,NaN,7d78780b0c099acae7c9c574f1e9adff,NaN,2017-02-23
1224724,NaN,7d78780b0c099acae7c9c574f1e9adff,NaN,2017-02-07
1224725,NaN,90ffc453a1c176755ef9225a77df81a1,NaN,2017-03-08
1224726,NaN,50ca771df650fcd9961d5a10221a905a,NaN,2017-03-03
1224727,NaN,381bcceaad6c0d72a795e2f09950b3af,NaN,2017-02-21
1224728,NaN,381bcceaad6c0d72a795e2f09950b3af,NaN,2017-02-23
1224729,NaN,381bcceaad6c0d72a795e2f09950b3af,NaN,2017-03-06
1224730,NaN,90ffc453a1c176755ef9225a77df81a1,NaN,2017-03-18
1224731,NaN,90ffc453a1c176755ef9225a77df81a1,NaN,2017-02-26
1224732,NaN,5b4e3e9f63d011a61a8d4fa065b6fa97,NaN,2017-02-20
1224733,NaN,a5dddded8ca6fee2441dd4f930e38d0d,NaN,2017-02-24